* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body: #def3f6;
  --light-blue: #4ab4de;
  --like: rgb(255, 105, 97);
}

body,
html {
  font-size: 62.5%;
  line-height: 1.8;
}

.post-content {
  overflow-y: hidden; /* Hide vertical scroll bars */
  resize: none; /* Prevent manual resizing */
  background: transparent;
}

.d-none {
  display: none;
}

.pointer {
  cursor: pointer;
}

.nav-height {
  min-height: 60px;
  height: 70px;
}

.logo {
  color: var(--light-blue);
}

.view-box {
  outline: 1px solid var(--light-blue);
  background: var(--light-blue);
}

.post-btn {
  background: var(--light-blue);
  border: none;
  outline: 1px solid var(--light-blue);
  padding: 5px 25px;
}

.username {
  color: var(--light-blue);
}

.username:hover {
  text-decoration: underline;
}

.user-liked {
  color: var(--like);
}
