* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --username: rgb(0, 157, 196);
  --like: rgb(250, 160, 160);
}

body,
html {
  font-size: 62.5%;
  line-height: 1.8;
}

.post-content {
  overflow-y: hidden; /* Hide vertical scroll bars */
  resize: none; /* Prevent manual resizing */
  background: transparent;
}

.d-none {
  display: none;
}

.pointer {
  cursor: pointer;
}

.username {
  color: var(--username);
}

.username:hover {
  text-decoration: underline;
}

.user-liked {
  color: var(--like);
}
